/* Este es el fondo de la página */
/* Colocamos una imagen de fondo sin que se repita, ponemos su
respectivo alto, fuente y tamaño de letra */
body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 0%;
}

p {
    font-size: 1.2vw;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h1 {
    font-size: 2vw;
}

h4 {
    font-size: 1.3vw;
}

a {
    text-decoration: none;
}

.fondoportada {

    background-image:url("../Imagenes/fnatic fondo 1.png");
    background-size: 100% 33%;
    background-repeat: no-repeat;
    background-color: rgb(224, 223, 223);
    display: grid;
    grid-template-rows: 150px 2.57fr 2.6fr 2.6fr 140px;
    grid-template-columns: 100%;
}

/* Aquí empieza la cabecera de la página */
/* El tipo de letra que vamos a utilizar para el nombre de la empresa*/
@font-face {
font-family: TipoTitulo;
src: url('AlegreyaSC-Black.ttf');
}

header > div {
order: 3;
margin-right: 2.5%;
box-sizing: border-box;
width: 180px;
height: 70px;

}

header > img {
    margin-left: 2.5%;
}

/* En la cabecera hemos puesto un borde sólido, posicion relativa,
una imagen como fondo sin repeticiones y tipo de letra Verdana*/
header {
border-style:solid;
position: relative;
background-color: rgba(22, 21, 21, 0.63);
background-size: cover;
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
width: 99.5%;
justify-content: space-between;
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 5;
}

/* Aquí termina la cabecera de la página */
/* Empezamos con el menú*/
/* Cambiamos el tamaño del texto y quitamos decoración*/
header nav a {
text-decoration:none;
font-size: 1.1vw;
color: rgb(0, 0, 0);

} 
/* Colocamos fuente, alineamos el menú, hacemos un padding de 10 px
colocamos como fondo una imagen, ponemos sombras, bordes y tipo de borde
centramos el texto y colocamos su respectivo ancho y alto*/

header nav  {
    width: 70%;
    margin-left: 5%;
}

header nav li {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 padding: 8px;
 background-image:linear-gradient(90deg, rgb(82, 243, 243) 5%, rgb(21, 201, 201) 74%);
 border:2px solid rgb(255, 255, 255);
 border-radius: 40px 10px;
 width: 130px;
 height: 20px;
 text-align:center;
 font-weight: bold;
 box-shadow: 2px 2px 5px rgb(4, 151, 156);
 margin-left: 4%;


}


header nav > ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display:flex;
    flex-wrap: wrap;
}

header ul {
    list-style: none;
}

/* Para añadirle animación al menú*/
header nav a:hover{
    color:rgb(255, 255, 255);
}
/* Terminamos con el menú*/

/* Empezamos con secciones*/

/*Sección de Portada*/
/*Aquí empezamos a dar márgenes a las fotos, y a los respectivos textos y títulos para que estén alineados*/


.area1 {

    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: flex-end;
}


.area1 > img{
   width: 3%;
   height: 8%;
}

.area1 :first-child {
    margin-left: 18%;
}

h4 {
    margin-left: 2%;
    margin-right: 2%;
    margin-block-start: 0;
    margin-block-end: 1%;
}


.area2{

    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 2%;
}

.area2 > img{
    margin-left: 4.5%;
    width: 91%;
    height: 62%;
}

.area2 > h1 {
    margin-left: 4.5%;
    margin-block-start: 1.5%;
    margin-block-end: 2%;
}

.area2 > p {
    margin-left: 4.5%; 
    margin-bottom: 4%;
}

.area3 > p {
    margin-left: 4.5%; 
    margin-bottom: 4%;
}


.area3{
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 3%;

}

.area3 > h1 {
    margin-left: 4.5%;
    margin-block-start: 0;
    margin-block-end: 2%;
}


.area3 > img {
    margin-left: 4.5%;
    width: 91%;
    height: 62%;
}



/* Termina la sección de Portada*/


/*Seccion de Galería */

/* Hemos añadido una imagen y varias configuraciones para el fondo de la pagina, tambien 
hemos ajustado el grid a 4 columnas de 25% y 7 lineas de distintos tamaños. */

.bodygaleria {
    background-image:url("../Imagenes/fnatic fondo 3.png");
    background-size: 100% 34%;
    background-repeat: no-repeat;
    background-color:  rgb(224, 223, 223);
    display: grid;
    grid-template-rows: 150px 2.3fr 1fr 1fr 1fr 1.3fr 140px;
    grid-template-columns: 25% 25% 25% 25%;
}
.bodygaleria > img {margin-bottom: 4%;}

/* Hemos puesto mayor escala y menor opacidad al ponernos encima de cada imagen. */
.bodygaleria > div img:hover {
    transform: scale(1.4,1.4);
    filter: opacity(.5);
}

/* El posicionamiento del hr y sus ajustes */
.bodygaleria > hr {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 92%;
    height: 0.03%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(28, 180, 180);
    align-self: flex-end;
    margin-bottom: 2%;
}

/* En las siguientes hemos ajustado los 4 divs de fotos en el grid. */

.bodygaleria > .fotos1 {
    margin-top: 1%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
}

.bodygaleria > .fotos2 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}

.bodygaleria > .fotos3 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 5;
}

.bodygaleria > .fotos4 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 5;
}

.bodygaleria > div {
    display: flex;
    justify-content: space-between;
}
/* Termina la sección de Galería */

/* Seccion de Nosotros */

/*Grid distibuido en 3 columnas y 5 filas de diferentes tamaños */
.bodynosotros {
    background-color: rgb(224, 223, 223);
    display: grid;
    grid-template-rows: 150px 2fr 1.5fr 0.5fr 140px;
    grid-template-columns: 1fr 1fr 1fr;
}

.bodynosotros h4 {
    text-align: center;
}

/*Distribución del header, video, h4 y footer en el grid*/
.bodynosotros > header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.bodynosotros > footer {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
}

video {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: 84%;
    z-index: -100;
    object-fit: cover;
}

.bodynosotros > h4 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: flex-end;
    margin-bottom: 4%;
    width: 90%;
    justify-self: center;
}

.bodynosotros > section{
    background: radial-gradient(circle, rgba(160,211,215,1) 0%, rgba(28,173,167,1) 100%);
}

.bodynosotros > h1 {
    background:radial-gradient(circle, rgba(160,211,215,1) 0%, rgba(28,173,167,1) 100%);;
}

/*Distribución del grid de los articulos*/
.bodynosotros > article{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    
}

.bodynosotros:nth-child(3) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.bodynosotros:nth-child(4) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.bodynosotros:nth-child(5) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}
/*Modificamos los textos de manera en la que los metemos en una caja del mismo tamaño que las fotos, a las que hacen
referencia, incluyendo un borde con un color rgb a nuestro gusto, que le hemos añadido padding para que dejase un poco 
de espacio al texto. Usando float hemos puesto los textos en línea. Por último hemos justificado el texto, con el text-align. */

.bodynosotros article > p {
    width: 90%;
    border: solid rgb(0, 238, 247) 5px;
    padding: 1%;
    margin-left: 5%;
    font-size: 1.2vw;
}

.bodynosotros article > img {
    width: 100%;
    height: 70%;
    margin-left: 5%;
    
}

/*Título de la sección de preguntas y respuestas. Cambio de fuente a Verdana, url a para poner la fuente Alegreya, con float moverlo a la izquierda,
cambio de letra a 30px y margen por debajo de un 1% */
.preguntas1 h1{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    src: url('AlegreyaSC-Black.ttf');
    margin-bottom: 1%;
}
/*Borde solido por arriba negro*/
.bodynosotros section {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    border-style: solid;
    width: 78%;
    height: 90%;
    margin-left: 1.5%;
}
/* Alineación de texto a la izquierda, con su ancho, sin margen ni padding, float a la derecha,
sin circulos negros de lista no ordenada. Distribución grid del section y h1*/
.bodynosotros section ul {
    text-align: left;
    width: 100%;
    margin-top: 0%;
    padding: 0%;
    font-size: 1.6vw;
    list-style: none;   
}

.bodynosotros > h1 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
    margin-right: 10%;
    padding: 5px;
    border: solid;
}


/* Termina la sección de Nosotros */
/*Sección de Tienda*/

.bodytienda {
    background-color:  rgb(224, 223, 223);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 1fr 140px;
}

.bodytienda > header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.bodytienda > table {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.bodytienda > footer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}


table{
    width: 80%;
    margin-left: 10%;
    border-color:black;
    margin-top: 5%;
    display: block;
}
tr{
    background: radial-gradient(circle, rgba(86, 88, 88, 0.815) 0%, rgba(32, 32, 32, 0.753) 100%);
    
    
}

th {
    border-style: solid;
    color: white;
    border-color: black;
}



td{
    
    text-align:center;
    background: linear-gradient(0deg, rgb(12, 152, 156) 0%, rgb(11, 241, 241) 100%);
    border-style: solid;
}

td:first-child {
    background: linear-gradient(0deg, rgb(10, 116, 116) 0%, rgb(30, 165, 165) 100%);
    font-weight:bold;
}

.bodytienda > article {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}


/*Termina la sección de Tienda*/
/* Terminamos con las secciones*/

/* Empezamos con el footer*/
/*En el footer lo que hemos hecho ha sido poner Verdana, una foto de fondo, su respectivo ancho, alto y margen y un borde solido*/

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 99.5%;
    height: 100%;
    background-color:#282a2bab;
    border-style: solid;
    position: relative;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    
}

.footerportada {
    grid-row-start: 5;
    grid-row-end: 6;
}

.footergaleria {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
}

footer > div {
    width: 140px;
    height: 130px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 6%;
    margin-top: 2%;
    
}

footer a h1 {
    justify-self: flex-start;
    color:rgb(255, 255, 255);
    font-family: TipoTitulo;
    font-size: 60px;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 35%;
    margin-left: 15%;
}

footer nav {
    width: 700px;
    margin-left: 4%;
    
}

footer nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

footer nav ul li {
    padding: 8px;
    margin-left: 5%;
    border-style: solid;
    border-radius: 15px 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 241, 230);
    text-decoration: black;
}

footer nav ul a {
    color:black;
}

/*Para la parte que muestra el desarrollador y fecha, hemos hecho una lista no ordenada, ajustado el contenido a lo que queriamos con box-sizing,
 quitado el circulo negro de la lista, metido un float para que fuera a la izquierda y por último, puesto su respectivo ancho y margen arriba.*/

/* En la parte de los contactos lo que hemos hecho ha sido una tabla para colocar las fotos, hemos ajustado el contenido
con box-sizing, metido un float para colocarlo a la dercha y por último, le hemos puesto su respectivo ancho y alto.*/


/* Terminamos el footer */

/* Empezamos con el Formulario*/

/*El grid esta distribuido en 2 columnas y 3 filas*/
    .bodyform {
        display: grid;
        grid-template-rows: 150px 1fr 140px;
        grid-template-columns: 50% 50%;
        background-color:  rgb(224, 223, 223);
        
    }

    form {
        background-color: rgba(22, 21, 21, 0.63);
        padding: 10%;
        padding-right: 25%;
        margin: 10%;
        width: 50%;
        border-radius: 10px;
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
/*h4 que indica el * de los campos obligatorios*/
    form > h4{
        display:flex;
        justify-content: flex-end;
        width: 140%;
        height: 2%;
        margin-bottom: 2%;
        color:rgb(245, 245, 245);
    }
    
    input, textarea, select {
        border: 0;
        outline: none;
        margin: 4%;
    }
    .field {
        border: solid 1px rgb(0, 0, 0);
        padding: 3%;
        width: 90%;
    }

    .field:focus{
        border-color: rgb(255, 255, 255);
    }

/*Botón de enviar y eliminar*/
    .enviar, .restaurar {
        border-radius: 5px;
        display:inline-block;
        padding: 5%;
        margin: 6%;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(131, 133, 148, 0.3);
        box-shadow: 0 1px 1px rgba(0,0,0,0.3);

    }
    .enviar {
        background-color: rgb(87, 240, 41);
    }

    .restaurar{
        background-color: rgb(219, 43, 43);
    
    }
/*Modificación del atributo required*/
    [required]{
        border-color:rgb(0, 0, 0);
        box-shadow: 0px 0px 8px rgb(15, 221, 221);
        margin-left: 3%;
        font-weight: bold;
    }

    input:invalid:required {
        background-image: linear-gradient(to right, rgba(53, 181, 190, 0.5), rgba(14, 110, 117, 0.555));
      }
/*Modificación de los checkbox*/
    .cuadrado {
        display: inline-block;
        margin-top: 2%;
    }
    .check {
     box-sizing: content-box;
     display:inline-block;
     width: 80%;
     height: 5%;
     margin: 2%;
    }
    
    fieldset {
      background-color: rgb(224, 223, 223);
      border-radius: 10px;
      border: 2px solid  rgb(0, 0, 0);
      width: 120%;
    }

    legend {
        background-color: rgb(56, 56, 58);
        color: white;
    }

    .botones {
        display: block
    }
/*Asterisco en los campos obligatorios*/
    .obligatorio:after{
        content: "*";
        margin-left: 3px;
        color: red;
        font-weight: bold;
    }

/*Grid de los formularios*/
    .a{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
        

    .b {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .bodyform footer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    
/* Terminamos formulario*/

@media only screen and (max-width: 600px) {
   /* Modificaciones del header en formato móvil*/

    header nav li {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 5px;
        background-image:linear-gradient(90deg, rgb(82, 243, 243) 5%, rgb(21, 201, 201) 74%);
        border:2px solid rgb(255, 255, 255);
        border-radius: 40px 10px;
        width: 100px;
        height: 12px;
        text-align:center;
        font-weight: bold;
        box-shadow: 2px 2px 5px rgb(4, 151, 156);
        margin-left: 10%;
        margin-top: 4%;
        display: flex;
        justify-content: center;
        align-content: center;
   }

   header nav  {
    width: 40%;
    margin-left: 8%;
}

header > img {
    margin-left: 5%;
}

header nav a {
    font-size: 1.5vw;
    } 

/* Cambiamos tamañps de la fuentes*/
    p {
        font-size: 1.5vw;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
    
    h1 {
        font-size: 2.5vw;
    }
    
    h4 {
        font-size: 1.8vw;
    }
    


/* Modificamos el footer en tamaño móvil*/

    footer a h1 {
        justify-self: flex-start;
        color:rgb(255, 255, 255);
        font-family: TipoTitulo;
        font-size: 7vw;
        margin-block-start: 0;
        margin-block-end: 0;
        width: 35%;
        margin-left: 15%;
    }
    
    footer nav {
        width: 260px;
        
    }
    
    footer nav ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    
    footer nav ul li {
        padding: 4px;
        margin-left: 5%;
        border-style: solid;
        border-radius: 15px 15px;
        color: rgb(255, 255, 255);
        background-color: rgb(25, 241, 230);
        text-decoration: black;
        margin-top: 5%;
        width: 60px;
    }
    footer nav a {
        font-size: 2vw;
    }
    footer div img {
        width: 35px;
        height: 35px;
    }

    footer > div {
        width: 90px;
        height: 90px;
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-right: 6%;
        margin-top: 2%; 
    }

    /* Ajustamos la portada para el formato móvil*/

    .area1 :first-child {
        margin-left: 4%;
    }

    
    .area1 > img{
        width: 5%;
        height: 11%;
    }
 
    /* Ajustamos la galería para el formato móvil, en este caso cambiamos el grid de manera en que las imágenes
     queden de 2 en 2, en vez de ir de 4 en 4*/

    .bodygaleria {
        background-image:url("../Imagenes/fnatic fondo 3.png");
        background-size: 100% 21%;
        background-repeat: no-repeat;
        background-color:  rgb(224, 223, 223);
        display: grid;
        grid-template-rows: 150px 400px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 280px 140px;
        grid-template-columns: 50% 50%;
    }
    .bodygaleria > div {
        display: flex;
        flex-wrap: wrap;
    }

    .bodygaleria header {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .bodygaleria > .fotos1 {
        margin-top: 1%;
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .bodygaleria > .fotos2 {
        grid-row-start: 5;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .bodygaleria > .fotos3 {
        grid-row-start: 7;
        grid-row-end: 9;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .bodygaleria > .fotos4 {
        grid-row-start: 9;
        grid-row-end: 11;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .bodygaleria > div {
        display: flex;
        justify-content: space-between;
    }

    .bodygaleria footer {
        grid-row-start: 11;
        grid-row-end: 12;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* Ajustamos la tienda para que las fotos entren en la pantalla formato móvil*/

    .bodytienda tr img {
        max-width: 240px;
    }

    table{
        width: 80%;
        margin-left: 2%;
        border-color:black;
        margin-top: 5%;
        display: block;
    }

    .bodytienda section {
        margin-left: 8%;
    }

    /* Ajustamos la sección nosotros, cambiamos el grid de tal manera, que quitamos una columna, para dejar 2
    y que todo quede bien colocado*/

    .bodynosotros {
        background-color: rgb(224, 223, 223);
        display: grid;
        grid-template-rows: 150px 2fr 1.5fr 1.5fr 0.5fr 0.1fr 140px;
        grid-template-columns: 50% 50%;
    }

    .bodynosotros header {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .bodynosotros > footer {
        grid-row-start: 7;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    video {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        height: 84%;
        z-index: -100;
        object-fit: cover;
    }
    
    .bodynosotros > h4 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: flex-end;
        margin-bottom: 4%;
        width: 90%;
        justify-self: center;
    }
    
    .bodynosotros:nth-child(3) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .bodynosotros:nth-child(4) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .bodynosotros:nth-child(5) {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
    }
   
    
    .preguntas1 h1{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 3;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        src: url('AlegreyaSC-Black.ttf');
        margin-bottom: 1%;
    }

  
    .arti3 {
        margin-left: 50%;
    }

    .bodynosotros section {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 3;
        border-style: solid;
        width: 78%;
        height: 90%;
        margin-left: 10%;
        margin-top: 1%;
        
    }
    
    .bodynosotros > h1 {
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
        margin-left: 10%;
        padding: 5px;
        border: solid;
        width: 50%;
        margin-bottom: 8%;
        
    }

    .bodynosotros article > p {
        width: 90%;
        border: solid rgb(0, 238, 247) 5px;
        padding: 1%;
        margin-left: 5%;
        font-size: 1.5vw;
    }

    /* Ajustamos la tienda para que las fotos entren en la pantalla formato móvi*/

    .bodyform {
        display: grid;
        grid-template-rows: 150px 0.7fr 2fr 140px;
        grid-template-columns: 100%;
        background-color:  rgb(224, 223, 223);
        
    }

    .bodyform header {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .bodyform footer {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .b {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .a {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-bottom: 20%;
    }


}


    /*Empezamos el formato tablet de la página web*/

    @media only screen and (min-width: 600px) and (max-width: 768px) {
        /*Header tablet*/
     
        header nav li {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: 5px;
            background-image:linear-gradient(90deg, rgb(82, 243, 243) 5%, rgb(21, 201, 201) 74%);
            border:2px solid rgb(255, 255, 255);
            border-radius: 40px 10px;
            width: 100px;
            height: 20px;
            text-align:center;
            font-weight: bold;
            box-shadow: 2px 2px 5px rgb(4, 151, 156);
            margin-left: 2%;
           
           }
     
        header nav > ul {
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            display:flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
        }
     
        header nav{
            width: 40%;
            height: 80%;
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-self: flex-end;
            margin-right: 5%;
        }
     
        header > div {
            order: 3;
            box-sizing: border-box;
            width: 110px;
            height: 70px;
            }
     
        header nav a {
            text-decoration:none;
            font-size: 1.6vw;
            color: rgb(0, 0, 0);
            
            }
     
        header > div img {
            width: 50px;
            height: 50px;
                
                } 
     
        #inicio {
            width: 110px;
            height: 100px;
        }
        
        /*Fin header tablet*/
     
        /*Footer tablet*/
     
        footer > div {
            width: 140px;
            height: 120px;
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-right: 2%;
            margin-top: 1%;
            
        }
     
        footer a h1 {
            justify-self: flex-start;
            color:rgb(255, 255, 255);
            font-family: TipoTitulo;
            font-size: 50px;
            font-size: 7vw;
            margin-block-start: 0;
            margin-block-end: 0;
            width: 35%;
            margin-left: 15%;
        }
        
        footer nav {
            margin-left: 4%;
            width: 300px;
            margin-right: 8%;
            
        }
        
        footer nav ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }
        
        footer nav ul li {
            padding: 8px;
            padding: 4px;
            margin-left: 5%;
            border-style: solid;
            border-radius: 15px 15px;
            color: rgb(255, 255, 255);
            background-color: rgb(25, 241, 230);
            text-decoration: black;
            width: 100px;
            margin-top: 1%;
            text-align: center;
        }
     
        footer img {
            width: 50px;
            height: 50px;
            display:flex;
            margin: 2%;
            
        }
        /*Fin footer tablet*/
     
        /*Body portada tablet*/
     
        .area1 :first-child {
            margin-left: 8%;
                }
            
        p {
            font-size: 1.6vw;
            margin-block-start: 0px;
            margin-block-end: 0px;
                }
                
        h1 {
            font-size: 2.5vw;
                }
                
        h4 {
            font-size: 1.8vw;
                }
     
        /*Fin body portada tablet*/
        
    /*Galería tablet*/
        .bodygaleria {
        background-image:url("../Imagenes/fnatic fondo 3.png");
        background-size: 100% 25%;
        background-repeat: no-repeat;
        background-color:  rgb(224, 223, 223);
        display: grid;
        grid-template-rows: 150px 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.3fr 140px;
        grid-template-columns: 50% 50%;
    }
    .bodygaleria > img {margin-bottom: 4%;}
     
    .bodygaleria > img:hover {
        transform: scale(1.4,1.4);
        filter: opacity(.5);
    }
     
    .bodygaleria > header {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .bodygaleria > hr {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 92%;
        height: 0.02%;
        border-style: solid;
        border-width: 3px;
        border-color: rgb(28, 180, 180);
        align-self: flex-end;
        margin-bottom: 2%;
    }
     
    .bodygaleria > div{
        display:flex;
        flex-wrap: wrap;
        margin-left: 10%;
        margin-right: 10%;
    }
     
    .bodygaleria > .fotos1 {
        margin-top: 1%;
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
    }
     
    .bodygaleria > .fotos2 {
        grid-row-start: 5;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 3;
    }
     
    .bodygaleria > .fotos3 {
        grid-row-start: 7;
        grid-row-end: 9;
        grid-column-start: 1;
        grid-column-end: 3;
    }
     
    .bodygaleria > .fotos4 {
        grid-row-start: 9;
        grid-row-end: 11;
        grid-column-start: 1;
        grid-column-end: 3;
    }
     
    .bodygaleria > div {
        display: flex;
        justify-content: space-between;
    }
     
    .footergaleria {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 11;
        grid-row-end: 12;
    }
     
    /*Fin galería tablet*/
     
    /*Tienda tablet*/
     
    table {
        margin:2%;
    }
     
    .bodytienda section{
        margin-left: 8%;
    }
    /*Fin tienda tablet*/
     
    /*Nosotros tablet*/
    .bodynosotros {
        background-color: rgb(224, 223, 223);
        display: grid;
        grid-template-rows: 150px 2fr 1.5fr 1.5fr 1fr 140px;
        grid-template-columns: 1fr 1fr;
    }
     
    .bodynosotros  h4 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: flex-end;
        margin-bottom: 4%;
        width: 90%;
        justify-self: center;
        font-size: 2vw;
    }
     
    .bodynosotros > header {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
     
     
    .bodynosotros > footer {
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 3;
    }
     
    video {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        height: 84%;
        z-index: -100;
        object-fit: cover;
    }
     
    .bodynosotros > h4 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: flex-end;
        margin-bottom: 4%;
        width: 90%;
        justify-self: center;
    }
     
    .bodynosotros > section{
        background: radial-gradient(circle, rgba(160,211,215,1) 0%, rgba(28,173,167,1) 100%);
        grid-row-start:5;
        grid-row-end:6;
        grid-column-start:1;
        grid-column-end:3;
        height: 65%;
        margin-left: 10%;
        
    }
     
    .bodynosotros > h1 {
        background:radial-gradient(circle, rgba(160,211,215,1) 0%, rgba(28,173,167,1) 100%);;
        grid-row-start:5;
        grid-row-end:6;
        grid-column-start:1;
        grid-column-end:3;
        margin-top: 20%;
        margin-left: 10%;
        width: 50%;
    }
     
    .bodynosotros  article p{
        font-size: 2vw;
        text-align: justify;
    }
    .bodynosotros:nth-child(3) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
     
    .bodynosotros:nth-child(4) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
     
    }
     
    .bodynosotros:nth-child(5) {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: 20%;
    }
     
    .arti3{
        margin-left: 50%;
    }
    /*Fin nosotros tablet*/
    /*Formulario tablet*/
     
    .bodyform {
        display: grid;
        grid-template-rows: 150px 0.5fr 2fr 140px;
        grid-template-columns: 1fr;
        background-color:  rgb(224, 223, 223); 
    }
     
    .b {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .a{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-bottom: 10%;
    }
     
     
    .bodyform footer {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
    /*Fin formulario tablet*/
    