/* Este es el fondo de la página */
/* Colocamos una imagen de fondo sin que se repita, ponemos su
respectivo alto, fuente y tamaño de letra */
body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 0%;
}

p {
    font-size: 1vw;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h1 {
    font-size: 2vw;
}

h4 {
    font-size: 1.2vw;
}

a {
    text-decoration: none;
}

.fondoportada {

    background-image:url("../Imagenes/fnatic fondo 1.png");
    background-size: 100% 32%;
    background-repeat: no-repeat;
    background-color: rgb(233, 217, 217);
    display: grid;
    /* grid-template-rows: 150px 480px 450px 450px 180px;  */
    grid-template-rows: 150px 2.57fr 2.6fr 2.6fr 180px;
    grid-template-columns: 100%;
}

/* Aquí empieza la cabecera de la página */
/* El tipo de letra que vamos a utilizar para el nombre de la empresa*/
@font-face {
font-family: Verdana, Geneva, Tahoma, sans-serif;
src: url('AlegreyaSC-Black.ttf');
}

header > div {
order: 3;
margin-right: 2.5%;
box-sizing: border-box;
width: 15%;
height: 50%;

}

header > img {
    margin-left: 2.5%;
}

/* En la cabecera hemos puesto un borde sólido, posicion relativa,
una imagen como fondo sin repeticiones y tipo de letra Verdana*/
header {
border-style:solid;
position: relative;
background-color: rgba(22, 21, 21, 0.63);
background-size: cover;
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
width: 99.5%;
justify-content: space-between;
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 5;
}

/* Aquí termina la cabecera de la página */
/* Empezamos con el menú*/
/* Cambiamos el tamaño del texto y quitamos decoración*/
nav a {
text-decoration:none;
font-size:14px;
color: rgb(0, 0, 0);

} 
/* Colocamos fuente, alineamos el menú, hacemos un padding de 10 px
colocamos como fondo una imagen, ponemos sombras, bordes y tipo de borde
centramos el texto y colocamos su respectivo ancho y alto*/

nav  {
    width: 70%;
    margin-left: 5%;
}

nav li {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 padding: 1%;
 background-image:linear-gradient(90deg, rgb(82, 243, 243) 5%, rgb(21, 201, 201) 74%);
 border:2px solid rgb(255, 255, 255);
 border-radius: 40px 10px;
 width: 15%;
 height: 1%;
 text-align:center;
 font-weight: bold;
 box-shadow: 2px 2px 5px rgb(4, 151, 156);
 margin-left: 4%;


}


nav > ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display:flex;
    flex-wrap: nowrap;
}

ul {
    list-style: none;
}

/* Para añadirle animación al menú*/
nav a:hover{
    color:rgb(255, 255, 255);
}
/* Terminamos con el menú*/

/* Empezamos con secciones*/

/*Sección de Portada*/
/*Aquí empezamos a dar márgenes a las fotos, y a los respectivos textos y títulos para que estén alineados*/


.area1 {

    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: flex-end;
}


.area1 > img{
   width: 3%;
   height: 8%;
}

.area1 :first-child {
    margin-left: 18%;
}

h4 {
    margin-left: 2%;
    margin-right: 2%;
    margin-block-start: 0;
    margin-block-end: 1%;
}


.area2{

    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 2%;
}

.area2 > img{
    margin-left: 4.5%;
    width: 91%;
    height: 62%;
}

.area2 > h1 {
    margin-left: 4.5%;
    margin-block-start: 1.5%;
    margin-block-end: 2%;
}

.area2 > p {
    margin-left: 4.5%; 
    margin-bottom: 4%;
}

.area3 > p {
    margin-left: 4.5%; 
    margin-bottom: 4%;
}


.area3{
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 3%;

}

.area3 > h1 {
    margin-left: 4.5%;
    margin-block-start: 0;
    margin-block-end: 2%;
}


.area3 > img {
    margin-left: 4.5%;
    width: 91%;
    height: 62%;
}

.area4 > img{
    width: 24%;
    height: 60%;
    margin-left: 6%;
}
.area4{
    flex-wrap: wrap;
    display: flex;
    margin-top: 5%;
    
}

/*Modificamos los textos de manera en la que los metemos en una caja del mismo tamaño que las fotos, a las que hacen
referencia, incluyendo un borde con un color rgb a nuestro gusto, que le hemos añadido padding para que dejase un poco 
de espacio al texto. Usando float hemos puesto los textos en línea. Por último hemos justificado el texto, con el text-align. */

.area4 > p {
    margin-left: 4.7%;
    box-sizing: content-box; 
    width: 23%;
    text-align: justify;
    border: solid rgb(0, 238, 247) 5px;
    padding: 1%;
}

/* Termina la sección de Portada*/


/*Seccion de Galería */
/* Para colocar las imágenes de una forma ordenada hemos usado margin para crear un espacio entre ellas y poder centrar la tabla y las imágenes en la página */

.bodygaleria {
    background-image:url("../Imagenes/fnatic fondo 3.png");
    background-size: 100% 33%;
    background-repeat: no-repeat;
    background-color: rgb(233, 217, 217);
    display: grid;
    grid-template-rows: 150px 2.3fr 1fr 1fr 1fr 1.3fr 180px;
    grid-template-columns: 25% 25% 25% 25%;
}
.bodygaleria > img {margin-bottom: 4%;}
.bodygaleria > img:hover{
    transform: scale(1.25,1.25);
}

.bodygaleria > hr {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 92%;
    height: 0.03%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(28, 180, 180);
    align-self: flex-end;
    margin-bottom: 2%;
}

.bodygaleria > .fotos1 {
    margin-top: 1%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
}

.bodygaleria > .fotos2 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}

.bodygaleria > .fotos3 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 5;
}

.bodygaleria > .fotos4 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 5;
}

.bodygaleria > div {
    display: flex;
    justify-content: space-between;
}
/* Termina la sección de Galería */
/* Seccion de Nosotros */
/* Centrar la frase y cambiar tamaño de letra a 25px */

.bodynosotros {
    background-color: rgb(233, 217, 217);
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

#fraseempresa {
    text-align: center;
    font-size: 25px;
}

/*Título de la sección de preguntas y respuestas. Cambio de fuente a Verdana, url a para poner la fuente Alegreya, con float moverlo a la izquierda,
cambio de letra a 30px y margen por debajo de un 1% */
#titulopreguntas{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    src: url('AlegreyaSC-Black.ttf');
    float: left;
    font-size: 30px;
    margin-bottom: 1%;
}
/*Borde solido por arriba negro*/
#preguntas1 {
    border-style: solid;
}
/* Alineación de texto a la izquierda, con su ancho, sin margen ni padding, float a la derecha,
sin circulos negros de lista no ordenda y tamaño de letra de 20px*/
#preguntas2 {
    text-align: left;
    width: 100%;
    float: right;
    margin-top: 0%;
    padding: 0%;
    font-size: 20px;
    list-style: none;   
}

/* Termina la sección de Nosotros */
/*Sección de Tienda*/

.bodytienda {
    background-color: rgb(233, 217, 217);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 1fr 180px;
}

.bodytienda > header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.bodytienda > table {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.bodytienda > footer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}


table{
    width: 80%;
    margin-left: 10%;
    border-color:black;
    margin-top: 5%;
    display: block;
}
tr{
    background: radial-gradient(circle, rgba(86, 88, 88, 0.815) 0%, rgba(32, 32, 32, 0.753) 100%);
    
    
}

th {
    border-style: solid;
    color: white;
    border-color: black;
}



td{
    
    text-align:center;
    background: linear-gradient(0deg, rgb(12, 152, 156) 0%, rgb(11, 241, 241) 100%);
    border-style: solid;
}

td:first-child {
    background: linear-gradient(0deg, rgb(10, 116, 116) 0%, rgb(30, 165, 165) 100%);
    font-weight:bold;
}

.bodytienda > article {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}


/*Termina la sección de Tienda*/
/* Terminamos con las secciones*/

/* Empezamos con el footer*/
/*En el footer lo que hemos hecho ha sido poner Verdana, una foto de fondo, su respectivo ancho, alto y margen y un borde solido*/

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 99.5%;
    height: 100%;
    background-color:#282a2bd5;
    border-style: solid;
    position: relative;
    bottom: 0;
    align-self: flex-end;
    
}

.footerportada {
    grid-row-start: 5;
    grid-row-end: 6;
}

.footergaleria {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
}
/*Para la parte que muestra el desarrollador y fecha, hemos hecho una lista no ordenada, ajustado el contenido a lo que queriamos con box-sizing,
 quitado el circulo negro de la lista, metido un float para que fuera a la izquierda y por último, puesto su respectivo ancho y margen arriba.*/

/* En la parte de los contactos lo que hemos hecho ha sido una tabla para colocar las fotos, hemos ajustado el contenido
con box-sizing, metido un float para colocarlo a la dercha y por último, le hemos puesto su respectivo ancho y alto.*/


/* Terminamos el footer */
    /* Empezamos con el Formulario*/
    form {
        background-color: rgb(160, 199, 189);
        padding: 10%;
        padding-right: 25%;
        margin: 10%;
        width: 50%;
        border-radius: 10px;
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    input, textarea, select {
        border: 0;
        outline: none;
        margin: 4%;
    }
    .field {
        border: solid 1px rgb(0, 0, 0);
        padding: 3%;
        width: 90%;
    }

    .field:focus{
        border-color: rgb(255, 255, 255);
    }

    .enviar, .restaurar {
        border-radius: 5px;
        display:inline-block;
        padding: 5%;
        margin: 6%;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(131, 133, 148, 0.3);
        box-shadow: 0 1px 1px rgba(0,0,0,0.3);

    }
    .enviar {
        background-color: rgb(48, 224, 48);
    }

    .restaurar{
        background-color: rgb(219, 43, 43);
    
    }
    [required]{
        border-color:rgb(192, 96, 51);
        box-shadow: 0px 0px 8px rgb(221, 80, 15);
        margin-left: 3%;
        font-weight: bold;
    }

    input:invalid:required {
        background-image: linear-gradient(to right, rgba(168, 99, 53, 0.5), rgba(178, 196, 20, 0.555));
      }

    .cuadrado {
        display: inline-block;
        margin-top: 2%;
    }
    .check {
     box-sizing: content-box;
     display:inline-block;
     width: 80%;
     height: 5%;
     margin: 2%;
    }
    
    fieldset {
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      border: 2px solid  rgb(136, 145, 19);
      width: 120%;
    }

    legend {
        background-color:  rgb(136, 145, 19);
        color: white;
    }

    .botones {
        display: block
    }

    .grid{
        margin-left:10%;
        display: grid;
        grid-template-columns:45% 45% ;
    }

    .a{
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .b{
        grid-row-start: 2;
    }